/* ********** PAGE ********* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://wallpaper.dog/large/5549638.jpg") fixed;
    color: white;
    font-family: verdana, sans-serif;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #404040;
    padding: 0.8rem;
    margin-top: 2rem;
}

/* ********** TEXTES ********** */

h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.1rem;
    text-align: center;
}

/* ********** NIVEAUX ********** */

.level {
    border: 3px solid black;
    border-radius: 30px;
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.35s ease-in-out;
    align-items: center;
    padding: 0.5rem;
}

.level div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level:hover {
    cursor: pointer;
}

.textLevel {
    font-size: 2rem;
}

.locked {
    background-color: gray;
}

.locked:hover {
    transform: scale(1.05);
}

#unlocked1 {
    background-color: green;
}

#unlocked2 {
    background-color: blue;
}

#unlocked3 {
    background-color: yellowgreen;
}

#unlocked4 {
    background-color: orange;
}

#unlocked5 {
    background-color: orangered;
}

#unlocked6 {
    background-color: red;
}

.unlocked:hover {
    box-shadow: white 0 0 30px;
    transform: scale(1.1);
}

.winner {
    color: goldenrod;
}

/* ********** BOUTONS ********** */

.normalButton {
    width: 15%;
    height: 50px;
    font-size: 2rem;
    border-radius: 10px;
}

.trueButton {
    width: 70%;
    height: 200px;
    font-size: 5rem;
    font-weight: bold;
    border-radius: 15px;
}

button {
    margin: 10px;
    transition: 0.35s ease-in-out;
    background-color: #1d3557;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* ********** AUTRE ********** */

img {
    width: 20%;
}

hr {
    width: 80%;
    margin: 2rem;
}

hr.separation {
    margin: 0.5rem;
}

.hidden {
    display: none;
}